/* Problem 1 */
/* body {
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.15;
    color: #747474;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
} */

/* Problem 2 */
/* body {
    font-family: sans-serif, Helvetica;
    line-height: 1.5;
    font-size: 18px;
    background-color: #EDEDED;
}

h2 {
    text-decoration: underline;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 3px;
    background-color: #3B516B;
    border-radius: 10px;
    color: floralwhite;
}

li {
    margin-left: 20px;
} */

/* Problem 3 */

/* body {
    font-family: Montserrat, sans-serif;
    padding: 16px;
}

thead {
    background-color: lightblue;
}

th, td {
    width: 144px;
    height: 32px;
    border: solid;
    border-color: #ccc;
    border-radius: 1px;
    border-width: 1px;
    padding-left: 5px;
} */

/* Problem 4 */
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.button {
    background-color: transparent;
    padding: 6px 16px;
    border: 2px solid rgb(51, 51, 51);
    text-decoration: none;
    font-size: 16px;
    border-radius: 32px;
    margin-right: 12px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    cursor: pointer;
    outline: none;
}
  
.button.fill {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}
  
.button.hover:hover {
    border: 2px solid rgb(0, 102, 0);
    background-color: rgb(251, 251, 251);
    color: rgb(0, 102, 0);
}

.button.hover.fill:hover {
    background-color: rgb(0, 102, 0);
    border: 2px solid rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}
