@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px /1.5 Poppins;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    padding: 2em;
}

article {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 4em;
}

header h1 {
    padding-bottom: 0.5em;
    font-size: 2em;
    font-weight: 600;
}

header h1 span {
    color: #ABC452;
}

header p {
    text-transform: uppercase;
}

.cards {
    display: flex;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    align-items: flex-start;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding: 2em 1.5em;
}

.card-info p {
    line-height: 2;
}

.card a {
    display: block;
    text-decoration: none;
    background-color: #ABC452;
    color: #fff;
    padding: 0.7em 2em;
    border-radius: 30px;
}