html {
    font: 16px/2 Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.site {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    background-color: #1881B6;
    border: 3px solid black;
    border-radius: 10px;
    align-items: center;

}

.card{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 2em;
}

.card:last-of-type {
    flex: 1;
    margin: 2em;
    padding: 0;

}


.card img {
    display: block;
    height: 350px;
    width: 100%;
    object-fit: cover;

}

h3 {
    text-transform: uppercase;
}

h2 {
    color: #fff;
    font-weight: 400;
    font-size: 2.1em;
}

p {
    text-indent: 40px;
    text-align: justify;
    padding-bottom: 2em;
}

.buttons a {
    padding: 0;
    
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5em;
    font-weight: bold;
}

.card .btn1 {
    background-color: #B6416D;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0.4em 1.3em;
    text-decoration: none;
    color: #fff;
}

.card .btn2 {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0.4em 1.3em;
    text-decoration: none;
    color: #000;
}