.main-nav ul {
    display: flex;
    padding-bottom: 0;
    gap: 0.1em;
}

.main-nav li {
    list-style-type: none;
    background-color: #ECECEC;
    padding: 1em 1.3em 1em 1.3em;
}

.main-nav li a {
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav li:hover {
    background-color: #56DBB1;
    color: black;
}