.site {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    background: url(../images/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -8em;
}

.site {
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #D9D9D9;
    height: 50px;
    align-items: center;
}

.site-header ul {
    padding: 0;
    margin: 0;
}

.site-header span a {
    text-decoration: none;
    color: inherit;
    border: 1px solid #000;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    background-color: #fff;
}

.site-footer {
    margin-top: auto;
}

.site-footer ul {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.site-footer li {
    padding: 10px 20px;
}

.site-footer li,
.site-footer a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #D9D9D9;
}
