body {
    background-color: #D4D4D4;
    padding: 2em;
    color: #494A4C;
}

.site {
    max-width: 1200px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.2em;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.card-image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    margin: 0 2em;
}

.card-text p:first-child {
    text-transform: uppercase;
    font-weight: bold;
    padding: 2em 0 1em 0;
}

.card-text h4 {
    color: #000;
    font-weight: 400;
    padding-bottom: 1em;
}

.card-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
    border-top: 2px solid black;
    padding: 1em 0;
}

.card-author p {
    padding: 0;
}

.card-author :nth-child(2) {
    color: #000;
    padding-left: 0.5em;
}

.card-author :nth-child(3) {
    flex-grow: 2;
    text-align: end;
    color: #8F91A4;
}

.card-author img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
}