.section-banner1 {
    display: flex;
    flex-direction: column;
    background: url(../images/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -11em;
    height: 480px;
    padding-left: 13em;
    padding-top: 5em;
}

.section-banner1 h1 {
    max-width: 10em;
}

.section-banner1 p {
    max-width: 33em;
    color: #fff;
    margin-top: 4em;
    font-size: 1.1em;
    margin-bottom: 1.5em;
    font-weight: 700;
}

.section-banner1 a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border-radius: 0.3em;
    padding: 1em 2em;
    text-decoration: none;
    align-self: flex-start;
    font-size: 0.8em;
}

.section-banner2 {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0 3em;
    margin-bottom: 1em;
}

.section-banner2 h2 {
    color: #FF7C4C;
}

.section-banner2 h4 {
    font-weight: 400;
}

.section-banner2 p {
    color: #585857;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card h4 {
    margin-top: 2em;
}

.card p {
    font-size: 0.8em;
}