{% extends "base.html" %}

{% block main_content %}
    
    <!-- delete plant form -->
    <section id="delete-page" class="auth">
        <form id="delete" action="{% url "plant-delete" pk=object.pk %}" method="post">
            <div class="container">
                <h1>Delete Plant</h1>
                {{ form }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Delete Plant">
            
            </div>
        </form>
    </section>

{% endblock %}