{%  load static %}

<div class="card">
    
    <!-- Start User Details and Image Location -->
    <div class="top">
        <div class="userDetails">
            <!-- Link to User Profile Page -->
            <a href="{% url 'details-profile' pk=1 %}">
                <div class="profilepic">
                    <div class="profile_img">
                        <div class="image">
                            <img src='{% static "/images/person.png" %}' alt="img8">
                        </div>
                    </div>
                </div>
            </a>
            <h3>
                <!-- Link to User Profile Page -->
                <a href="{% url 'details-profile' pk=1 %}">
                    <!-- if user has first name and last name -->
                    Diyan Kalaydzhiev
                    <!-- else -->
                    <!-- show user username -->
                </a>
                <br>
                <!-- if the photo has location -->
                {% if photo.location %}
                    <span>{{ photo.location }}</span>
                {% endif %}
            </h3>
        </div>
    </div>
    <!-- End User Details and Image Location -->
    
    <!-- Start Pet Photo -->
    <div class="imgBx" id="{{ photo.pk }}">
        <img src="{{ photo.photo.url }}" alt="post" class="cover">
    </div>
    <!-- End Pet Photo -->
    
    <!-- Start Like and Share Buttons -->
    <div class="bottom">
        <div class="actionBtns">
            <div class="left">
                <!-- Start Like Button -->
                <span class="heart">
                    <a href="{% url "like" pk=photo.pk %}">
                        {% if photo.photolike_set.count > 0 %}
                            <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                        {% else %}
                            <i class="fa-regular fa-heart"></i>
                        {% endif %}
                    </a>
                </span>
                <!-- End Like Button -->
                
                <!-- Start Share Button -->
                <a href="{% url 'share' pk=photo.pk %}">
                    <i class="fa-solid fa-share"></i>
                </a>
                <!-- End Share Button -->
            
            </div>
        </div>
        <!-- End Like and Share Buttons -->
        
        <!-- Number of Likes per Photo -->
        <p class="likes">{{ photo.photolike_set.count }} likes</p>
        
        {% for pet in photo.pets.all %}
            <a href={% url "details_pets" "username" pet.slug %}>
                <p class="message">
                    <b>{{ pet.name }}</b>
                </p>
            </a>
        {% endfor %}
        
        <!-- Link to Photo Details Page -->
        <a href={% url "photos_details" pk=photo.pk %}>
            <h4 class="details">See details</h4>
        </a>

        <!-- Date of Publication -->
        <h5 class="postTime">{{ photo.created_at|date:'d/m/Y' }}</h5>
        
        <!-- Start Add Comments Section -->
        <div class="addComments">
            <!-- Start Add Comments Form -->
            <form method="post" action="#">
                <label for="id_body">Body:</label>
                <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                          required="" id="id_body"></textarea>
                <button type="submit">Post</button>
            </form>
            <!-- End Add Comments Form -->
        
        </div>
        <!-- End Add Comments Section -->
    </div>
</div>
