<!-- IF the viewer is the creator of the photo -->
{% load static %}

<div class="edit-delete-btns">

    <!-- Link to Edit Pet Photo Page -->
    <a href="{% url "edit_photos" photo.pk %}">
        <img class="edit-img" src="{% static "/images/edit-pen-icon-6.jpg" %}"
             alt="edit button">
    </a>

    <!-- Link to Delete Pet Photo Page -->
    <a href="{% url 'delete_photos' photo.pk %}">
        <img class="bin-img" src="{% static "/images/icon-remove-22.jpg" %}" alt="bin button">
    </a>
</div>
<!-- End IF the viewer is the creator of the photo -->