.site {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}



.site {
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #D9D9D9;
    height: 50px;
    align-items: center;
}

.site-header ul {
    padding: 0;
    margin: 0;
}

.site-header span a {
    text-decoration: none;
    color: inherit;
    border: 1px solid #000;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    background-color: #fff;
}


.site-main {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 0 4em 0 4em;
    gap: 1em;
}

.main-cards:first-of-type {
    padding-top: 2em;
}

.main-cards:last-of-type {
    padding-bottom: 2em;
}

.main-cards {
    display: flex;
    gap: 1.5em;
}

.main-cards img {
    width: 30%;
}

.pic-details {
    display: flex;
    flex-direction: column;
}

.pic-details h5, .pic-details p {
    color: #585857;
}

.pic-details p {
    padding-top: 2em;
    padding-bottom: 0;
}

.pic-details h3 {
    margin-top: 0;
    padding-top: 1.5em;
}

.pic-details a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.main-pricing {
    display: flex;
    background-color: #F5F5F5;
    padding: 0 4em 0 4em;
}
.pricing {
    display: flex;
    gap: 1em;
    background-color: #fff;
    justify-items: center;

}

.pricing-plans {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;

}

.price-card1 {
    background-color: #FF7C4C;
    text-align: center;
    flex-grow: 2;
}

.price-card2 {
    background-color: #000;
    color: #fff;
    flex-grow: 2;
}

.site-footer {
    /* margin-top: auto; */
}

.site-footer ul {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.site-footer li {
    padding: 10px 20px;
}

.site-footer li,
.site-footer a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #D9D9D9;
}
